<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="{{ url_for('static',filename = 'style.css') }}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        var tasks = {{ tasks | tojson }};
        var ids = {{ ids | tojson }};
    </script>
</head>
<body>
    <h1>Stop Procrastinating..</h1>
    <a href="/finished-tasks">Done Tasks</a>
    <div class="adding-section">
        <input class="task-input" id="task-input-ID" type="text" placeholder="What is your task..." >
        <button class="add" id="add-ID">Add Task</button>
    </div>
    <script src="{{ url_for('static',filename='main.js') }}"></script> 
    <!-- js -->
</body>
</html>